@{
    ViewBag.Title = "Lineage II Classic Kamael";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = "Home";
}

<!-- We are -->
<div id="software" class="We_are">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Rates</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12" style="padding-left:200px; padding-bottom:50px">
                <div class="box_bg">
                    <div class="box_bg_img">
                        <figure><img src="~/Assets/images/classic.jpg"></figure>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="box_text row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <p style="text-align:right">
                            Experience rates:
                            <br />Skill Points:
                            <br />Adena:
                            <br />Quest:
                            <br />Drop:
                            <br />Spoil:
                            <br />Raid Experience:
                            <br />Raid Drop:
                        </p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <p style="text-align: left; color: #FF8C00 ">
                            x10
                            <br />x10
                            <br />x7
                            <br />x1
                            <br />x1
                            <br />x1
                            <br />x3
                            <br />x3
                        </p>
                    </div>
                    <a href="~/Home/Features" style="margin-left:100px; margin-top:30px">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end We are -->

@section sectionCenterContent{
    <div style="width:100%; height:fit-content; text-align:center">
        <div class="text-bg">
            <h1>Lineage II Classic Kamael X10 </h1>
            <b>Open Beta - <em>September 15, 20:00 GMT +2</em></b> <br />
            <b>Grand Opening - <em>September 22, 20:00 GMT +2</em></b> <br />
        </div>
    </div>
}

